#mylisting p { 
	list-style-type: none; 
	border-bottom: 1px solid silver; 
	margin-bottom: 10px; 
	padding: 8px; 
}

#mylisting p:last-child { 
	border: 0px; 
}


#filterDate { 
	width: 150px; 
	padding: 10px; 
	font-size: 1.4em; 
	font-weight: bold; 
	letter-spacing: -.04em; 
	text-align: center; 
	color: blue;
}

#dofilter {
	cursor: pointer; 
	display: inline-block; 
	width: auto; 
	border-radius: .3em; 
	background-color: black; 
	color: white; 
	font-weight: bold; 
	font-size: 1.4em; 
	margin-left: 8px; 
	padding: 7px;
}

#infolist p {
	list-style-type: none;
	color: white;
	border-bottom: 1px solid silver;
	margin-bottom: 10px;
	padding: 8px;
}

#infolist p:last-child {
	border: 0px;
}